/target
Cargo.lock
/fuzz/target
/fuzz/corpus
/fuzz/artifacts
/fuzz/Cargo.lock
/tests/data/*
!/tests/data/README.md
!/tests/data/setupapi.dev.log
!/tests/data/setupapi_xp.log
!/tests/data/synthetic_usb_system.hive
!/tests/data/synthetic_mounted_devices.hive
!/tests/data/synthetic_win7_props.hive
!/tests/data/synthetic_volume_info_cache.hive
!/tests/data/synthetic_mountpoints2.hive
!/tests/data/synthetic_emdmgmt.hive
